body {
    margin: 0;
    font-family: Arial;
    background: #120016;
    color: white;
}

/* LOGIN */
.login {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #120016;
}

input {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #7a2cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* CHAT */
.chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msg {
    background: #2a0033;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}

.inputBox {
    display: flex;
    padding: 10px;
    background: #0d0010;
}

.inputBox input {
    flex: 1;
}
